<!DOCTYPE html>
<html>
<head>
    <title>Simple Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="configurator">
        <h1>Configurator</h1>
        <p>Select an option:</p>
        {% for button in data %}
        <button class="config-btn">{{ button }}</button>
        {% endfor %}
    </div>
    <div class="main-page">
        <h1>Main Page</h1>
        <div id="main-content">
          <p>Other contents go here...</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>