<!DOCTYPE html>
<html>
<head>
    <title>Key Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="nav">
      <ul class="menu">
        <li><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
        <li><a href="#!" class="nav-link">About</a></li>
        <li><a href="{{ url_for('keygen') }}" class="nav-link">Contact</a></li>
        <li><a href="#!" class="nav-link">Faq</a></li>
      </ul>
    </nav>
    <div class="main-page">
        <h1>Key Generator</h1>
        <div id="keyGenerator">
            <button id="generateKeyButton">Generate Key</button>
            <p id="generatedKey"></p> 
        </div>

        <h2>List of Generated Keys:</h2>
        <ul id="keysList">
          {% for key in keys %}
          <li>{{ key.id }}. {{ key.key }}</li>
          {% endfor %}
        </ul>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
